<div class="brand-block">
    <a class="navbar-brand" href="/">Product Service</a>
    <span>Operations</span>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="nav-glyph" aria-hidden="true">
                    <svg viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16" /></svg>
                </span>
                Produtos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="nav-glyph" aria-hidden="true">
                    <svg viewBox="0 0 24 24"><path d="M6 7h12M6 12h12M6 17h8" /><path d="M4 4h16v16H4z" /></svg>
                </span>
                Pedidos
            </NavLink>
        </div>
    </nav>
</div>
